@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


/* font-weight
100: Thin (Hairline)
200: Extra Light (Ultra Light)
300: Light
400: Normal (Regular)
500: Medium
600: Semi Bold (Demi Bold)
700: Bold
800: Extra Bold (Ultra Bold)
900: Black (Heavy) */



:root {
    --header-text-color:#95E1D3;
    --button-background-color:#95E1D3;
    --title-text-color:#333333;
    --text-color:#B6B6B6;
    --rectagle-color:#F38181;
    --button-text-color:#FFFFFF;

    --body-font:'Montserrat',sans-serif;
    --text-font:'Roboto',sans-serif;
    --minor-text:'Kaushan Script',sans-serif;
}

body {
    font-family: var(--body-font);
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    padding-top:17px;
    padding-bottom: 13px;
}

.work {
    padding-bottom:100px;
    padding-top: 68px;
}

.team {
    padding-bottom:80px;
}

.footer {
    padding-bottom:10px;
}

.header-logo {
    color: var(--header-text-color);
    font-size:30px;
    font-weight:bold;
    text-decoration: none;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: var(--header-text-color);
    text-decoration: none;
    padding-bottom: 10px;
}

.header-link:hover {
    color: var(--rectagle-color);
    border-bottom: 3px solid var(--rectagle-color);
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 55px;
    font-weight:400;
}


.work-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--title-text-color);
    padding-top: 20px;
    padding-bottom: 65px;

}

.work-title::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: var(--rectagle-color);
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.work-subtitle {
    text-align: center;
    font-size: 24px;
    font-family:var(--minor-text);
    color: var(--title-text-color);
}

.work-item {
    flex-basis: calc((100% - 200px) / 3);
}

.work-article {
    display: flex;
}

.work-desc {
    font-size: 15px;
    color: var(--text-color);
    font-family: var(--text-font);
}

.work-caption {
    padding-bottom: 20px;
    color: var(--title-text-color);
    font-variant: small-caps;
}

.work-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 70px;
    row-gap: 100px;
}
.work-icon {
    width:37px;
    height: 37px;
    margin-right: 20px;
    flex-shrink:0; 
}


.team {
    text-align: center;
}


.team-item {
    position: relative;
}


.team-item .team-overlay {
    position: absolute;
    width: 380px;
    height: 470px;
    background: linear-gradient(to bottom, #EF8B8A, #E5CF82);
    opacity: 0;
    right: 10px;
    top: -10px;
    transition: all 0.5s ease;
}

.team-item:hover .team-overlay {
    opacity: 0.8;
}

.team-title {
    font-weight: bold;
    font-size: 30px;
    color: var(--title-text-color);
    padding-top: 17px;
    padding-bottom: 45px;
}

.team-title::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: var(--rectagle-color);
    display: block;
    margin: 0 auto;
    margin-top: 36px;
}

.team-subtitle {
    font-size: 24px;
    font-family: var(--minor-text);
    color: var(--title-text-color);
}

.team-desc {
    font-size: 15px;
    font-family: var(--text-font);
    color: var(--text-color);
    padding-bottom: 27px;
}

.team-name {
    text-transform: uppercase;
    color: var(--title-text-color);
    padding-top: 30px;
    padding-bottom: 10px;
}

.team-job {
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: lighter;
    font-size: 15px;
    font-style: italic;
}

.team-img {
    width: 380px;
    height: 470px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-desc {
    align-items: last baseline;
}

.footer-link {
    color: var(--rectagle-color);
    text-decoration: none;
}

.footer-form {
    display: flex;
    gap: 0;
}

.footer-input {
    font-style: italic;
    font-family: var(--text-font);
    font-weight: 300;
    padding-top:12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid var(--text-color);
    border-right: none;
}

.footer-button {
    font-family: var(--body-font);
    font-weight: bold;
    background-color:var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 12px 38px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #B6B6B6;
    padding-top: 10px;
}
